#dplayer{
    position: absolute;
    top: 29px;
    width: 960px;
    height: 600px;
     border-radius: 10px;
}
header{
    background-color: rgb(25, 75, 136) !important;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/world/bg1.png) no-repeat; 
    background-size: cover;
    background-position: center;    
    transform-origin: center;
}
.spread{
    width: 100px;
    height: 100%;
}
.box{
    position: relative;
    margin: 0 auto;
    margin-top: 3%;
    width: 1440px;
    height: 650px;
}
.video_list{
 position: absolute;
 right: 0;
 width:400px;
 height: 650px;
 border-bottom: 10px solid #fff;
 background-color: rgba(255,255,255,.7);
 border-radius: 10px;
}
.video_list nav ul{
    text-align: center;
}
.video_list nav ul li{
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    background-color: rgba(0,0,0,.2)
}
.video_list nav ul li:first-child{
    border-radius:10px 0 0 0 ;
}
.video_list nav ul li:last-child{
    border-radius:0 10px 0 0 ;
}

.select_item{
    background-color: #0f61c5 !important;
    color: #fff !important;
}
.video_path{
    overflow-y: scroll;
    width: 100%;
   height: 94%;
}
.video_path li{
    overflow: hidden;
    width: 93%;
    height: 110px;
     cursor: pointer;
     margin: 10px 0;     
     margin-left:15px;
     border-radius:5px ;
}
.video_path li:hover h3{
    color: #0273fe;
}
.select{
    background-color: rgba(15, 97, 197,.8);
   
}
.select h3{
    color: #fff !important;
}
.video_path img{
 float: left;
 width: 200px;
}
.video_path h3{
 width: 42%;
 float: left;
 padding: 20px 10px;
 color: #000;
 font-weight: 400;
}
.path{
    font-size: 0;
}
   .video_path::-webkit-scrollbar {/*滚动条整体样式*/
      position: absolute;
       width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
       height: 16px;
       }
       .video_path::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
           border-radius: 5px;
           /* -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,255.2); */
           background: rgba(0,0,0,.5);
       }
       .video_path:hover::-webkit-scrollbar-thumb{ /*滚动条里面小方块*/
           /* -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,255.2); */
           background: rgba(0,0,0,0.8);
           
       }
       .video_path::-webkit-scrollbar-track { /*滚动条里面轨道*/
       /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.4); */
          border-radius: 10px;
           background: rgba(0,0,0,.3);
       }